<div class="about-me-container">
    <div class="left-container">
        <p>Hello I’am <span class="bolder-text">Fairoz Logde.</span><br>
        <span class="bolder-text">Java</span>&nbsp;<span class="hollow-text">Developer</span><br>
        Based in <span class="bolder-text">India.</span></p>
        <div class="paragraph">
            <p style="font-size: 16px;" >I'm Fairoz Logde Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to specimen book.</p>
        </div>
        <div class="social-media-container">
            <div class="social-media">
                <a href="https://www.linkedin.com/in/fairoz-logde-6b48b0180/" target="_blank">
                    <img src="/assets/linkedin.svg">
                </a>
            </div>
            <div class="social-media">
                <a href="https://github.com/FairozLogde" target="_blank">
                    <img src="/assets/github.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="right-container">
        <img src="/assets/coder_banner.svg">
    </div>
</div>