<div class="header-container">
    <div class="header">
        <div class="header-logo">
            <a href="/">
                <img src="/assets/logo.svg" alt="logo">
            </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#skill">Skills</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#contact">Contact Me</a></li>
            </ul>
        </div>
        <div>
            <a class="resume-btn" href="https://drive.google.com/file/d/1s6xxYp_oMWBaPfLAFblCv_2tJLnphf5f/view?usp=sharing" target="_blank">Resume <img src="/assets/download.svg"></a>
        </div>
    </div>
</div>
