<div class="header-container">
    <div class="header">
        <div class="header-logo">
            <a href="/">
                <img src="/assets/logo.svg" alt="logo">
            </a>
        </div>
        <div class="header-menu">
            <ul>
                <li class="active"><a>About Me</a></li>
                <li><a>Skills</a></li>
                <li><a>Project</a></li>
                <li><a>Contact Me</a></li>
            </ul>
        </div>
        <div>
            <a class="resume-btn" href="#">Resume <img src="/assets/download.svg"></a>
        </div>
    </div>
</div>
