<div class="project-container">
    <h2 style="color: #ffff;"><span style="font-weight: 300;">My</span> Projects</h2>
    <div class="inner-project">
        <div class="project-img-block">
            <img src="/assets/project/proj_img.png" alt="" srcset="">
        </div>
        <div class="project-content-block">
            <h3>01</h3>
            <h6>Crypto Screener Application</h6>
            <p>I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.</p>
            <img src="/assets/project/read_more.svg" alt="" srcset="">
        </div>
    </div>
    <div class="inner-project reverse">
        <div class="project-img-block">
            <img src="/assets/project/proj_img.png" alt="" srcset="">
        </div>
        <div class="project-content-block-reverse">
            <h3>02</h3>
            <h6>Crypto Screener Application</h6>
            <p>I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.</p>
            <img src="/assets/project/read_more.svg" alt="" srcset="">
        </div>
    </div>
    <div class="inner-project">
        <div class="project-img-block">
            <img src="/assets/project/proj_img.png" alt="" srcset="">
        </div>
        <div class="project-content-block">
            <h3>03</h3>
            <h6>Crypto Screener Application</h6>
            <p>I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.</p>
            <img src="/assets/project/read_more.svg" alt="" srcset="">
        </div>
    </div>
</div>