/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Sora';
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

h2{
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hollow-text{
    text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000,-2.5px 2.5px 0 #000, 2.5px 2.5px 0 #000; 
    color: white;
    font-weight: bolder;
}